*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    border: none;
    height: 60px;
    margin-bottom: 12px;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 24px;
    max-width: 1152px;
    max-height: 228px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #fff;
    align-items: stretch;
    margin-top: 24px;
    font-weight: 400;
    color: #919191;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}

.text-title {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    max-width: 344px;
    width: auto;
    height: auto;
    min-height: 36px;
}

.text-content {
    flex-grow: 1;
    width: auto; 
    min-width: 100px; 
    max-width: 824px; 
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 12px;
    min-height: 96px; 
    resize: vertical; 
    flex-shrink: 1;
}

.form-text-button-radio {
    display: flex;
    gap: 24px;
    margin-top: 12px;
    flex-basis: auto;
}

.description {
    display: flex;
    flex-direction: column;
    max-width: 824px;
    width: 100%;
}

.radio-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    display: flex;
    font-weight: 400;
    font-size: 12px;
}

.radio-list {
    width: 212px;
    height: 60px;
    display: flex;
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.radio {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    appearance: none;
    outline: 5px solid transparent;
    cursor: pointer;
}

.radio[value="yellow"] {
    background-color: #F3DB7D;
}

.radio[value="green"] {
    background-color: #C2F37D;
}

.radio[value="blue"] {
    background-color: #7DE1F3;
}

.radio[value="red"] {
    background-color: #F37D7D;
}

.radio[value="purple"] {
    background-color: #E77DF3;
}

.radio:checked {
    border-color: white;
    box-shadow: 0 0 0 3px white, 0 0 0 4.5px #007BFF;
}

.add-note {
    padding: 8px 16px; 
    border-radius: 10px;
    border: none;
    width: 100%; 
    max-width: 232px; 
    min-width: 120px; 
    height: auto; 
    background: #457cdc;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-align: center; 
}

.icon-button {
    padding-right: 8px;
    stroke-width: 2px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #e8e8e8;
}


@media (min-width: 555px) and (max-width: 766px) {
    .form-text-button-radio{
        flex-wrap: wrap;
    }
    .text-content{
        min-height: 50px
    }
    .description{
        height: 30px;
    }
    .radio-button-container{
        width: 100%;
        padding-top: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .add-note{
        align-items: center;
        font-size: 12px;
    }
}
@media  (max-width : 375px) {
    form {
        margin-top: 10px;
        padding: 10px;
        height: 400px;
    }
    .form-text-button-radio{
        gap: 0;
        flex-direction: column;
    }
    .text-content{
        min-height: 26px;
        height: 36px;
        padding: 5px;
    }
    .radio-list{
        width: 333px;
        max-width: 100%;
        height: 60px;
        justify-content: space-around;
    }
    .fieldset{
        margin-bottom: 8px;
    }
    .add-note{
        max-width: 100%;
        height: 28px;
    }
    
}