*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

ul {
    margin: 0px;
    padding-top: 60px;
    padding-left: 64px;

    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}


.notes-list {
    padding-left: 0px;
    height: 100%;
}

.no-notes-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #000
}

.notes-list li {
    border-radius: 10px;
    width: 368px;
    max-height: 216px;
    box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    list-style-type: none;
}

.notes-title {
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

}

.notes-title h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #292515;
    margin: 0px;
}

.notes-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    padding: 12px;
    margin: 0px;
}

.delite-btn .favorite-btn img {
    width: 100px;
}

.favorite-btn,
.delite-btn {
    background: transparent;
    border: none;
    padding: 0;

}

.delite-btn {
    margin-left: 12px;
}


.note-content {
    overflow-wrap: break-word;

}

@media screen and (max-width: 1024px) {
    .notes-list li {
        width: 250px;
    }

}


@media (max-width : 425px) {
    .notes-list li {
        width: 280px;
    }
    ul {
        justify-content: center;
    }
}
@media (max-width : 375px) {
    .notes-list li {
        width: 280px;
    }
    ul {
        justify-content: center;
    }
}