*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background: #fafafc;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 60px;
    padding: 0 64px;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
    background: #fff;
}

.header_count_tasks {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    /* Устанавливаем ширину на 100% от родительского элемента */
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.filter-box {
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #000;
    padding-right: 64px;
    max-width: 1280px;
    transition: opacity 0.3s ease, display 0s 0.3s;
}

.filter-box.hidden {
    opacity: 0;
    display: none;
}

.hidden {
    display: none;
}

.message-box {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding-right: 220px;
}

.message-add-note {
    border-radius: 10px;
    padding: 12px 24px;
    width: 230px;
    height: 48px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #47b27d;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    color: #fff;
    align-self: center;
}

.message-removed-note {
    border-radius: 10px;
    padding: 12px 24px;
    width: 230px;
    height: 48px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #ff0000;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    color: #fff;
    align-self: center;
}

.message-max-length {
    border-radius: 10px;
    padding: 12px 24px;
    width: 427px;
    height: 48px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #f23d5b;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    color: #fff;

}